html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

        body {
            background-color: #f0f0f0;
            }

        header {
            background-color:  #205c99;
            width: 100%;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        
        .navbar {
            display: flex;
            justify-content: left;
            width: 100%;
                  
        }
        
        .logo {
            background-color:  #205c99;
            display: flex;
            justify-content: flex-start;
            color: white;
            font-size: 25px;
            font-weight: 700;
            text-decoration: none;
            padding: 5px;
            margin: 10px;
        }
        
        .nav-links {
            display: flex;
            list-style: none;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            padding: 15px;
            margin: 15px;
            height: 70px;
        }
        
             
        .nav-links a {
            color: white;
            font-size: 20px;
            font-weight: 500;
            padding: 8px 12px;
            
        }

        a {
            text-decoration: none;
            color: white;
        }
        
        .nav-links a:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
        
        /* Бургер-меню для мобильных */
        .burger {
            display: none;
            flex-direction: column;
            
        }
        
        .burger span {
            height: 3px;
            width: 25px;
            background-color: white;
            margin: 3px 0;
            border-radius: 2px;
            transition: 0.3s;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 40px 20px;
        }
        
        .content-block {
            background-color: white; 
            padding: 40px;
            border-radius: 5px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            color: #333; 
            text-align: left;
        }
        
        .content-block h1 {
            color:  #205c99;
            margin: 20px;
            font-size: 30px;
        }
        
        .content-block p {
            font-size: 16px;
            margin: 20px;
            
        }

@media screen and (max-width: 768px) {
            .nav-links {
                position: fixed;
                top: 70px;
                left: -100%;
                width: 100%;
                height: calc(100vh - 70px);
                background-color: #205c99;
                flex-direction: column;
                align-items: center;
                padding-top: 40px;
                transition: left 0.5s ease;
            }
            
            .nav-links.active {
                left: 0;
            }
            
            .nav-links li {
                margin: 15px 0;
            }
            
            .nav-links a {
                font-size: 1.3rem;
                display: block;
                padding: 15px 30px;
                width: 250px;
                text-align: center;
            }
            
            .burger {
                display: flex;
            }
            
            .burger.active span:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            
            .burger.active span:nth-child(2) {
                opacity: 0;
            }
            
            .burger.active span:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
            
            .content-block {
                padding: 15px 15px;
               
            }
            
            .content-block h1 {
                font-size: 23px;
            }
        }
        
       footer {
            background-color: #205c99;
            color: white;
            text-align: center;
            padding: 20px;
            width: 100%;
            margin-top: auto;
        }
        
        .current-page {
            background-color: rgba(255, 255, 255, 0.3);
            font-weight: bold;
        }




